/* stop scroll X */
#root {
  max-width: 100vw;
  overflow-x: hidden;
}

#navlinked {
  max-width: 100vw;
}

/* ======= handles expansion of About block ===== */
p.collapseAbout {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.list-group-item {
  border: none
}


.card>.list-group {
  border-top: none;
}

.card {
  margin: 10px;
  border-radius: 10px;
}

/* NAVBAR STYLES */

#global-nav-logo {
  color: rgb(10, 102, 194);
}

#global-nav-icon--mercado__my-network, #global-nav-icon--mercado__home, #global-nav-icon--mercado__jobs, #global-nav-icon--mercado__messaging, #global-nav-icon--mercado__notifications {
  fill: #6c757d !important;

}


.verticalLine {
  border-left: 1px solid gray;
}

#backgroundimg{
  max-height: 200px!important;
}

.h3{
  font-size: 24px!important;
}

.junior{
  font-size: 16px!important;
}

.area{
  font-size: 14px!important;
  color: gray;
}
#ember47{
  border-radius: 50%!important;
  border: 2px solid white!important;
  position: absolute;
  margin-top: 10%;
  margin-left: 3%;
}

.badge-pill{
  font-weight:500 ;
  font-size: 16px;
  padding: 3px  9px;
 width: fit-content;
}

.connections{
  font-weight:500 ;
  font-size: 14px!important;

}